extends layout

block content
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('MMMM Do YYYY')

        h2
          a(href=locals.baseUrl+article.url)= article.title
      section.content
        | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=locals.baseUrl+article.url) more

block prepend footer
  div.nav
    if prevPage
      a(href=locals.baseUrl+prevPage.url) « Newer
    else
      a(href=locals.baseUrl+'/archive.html') « Archives
    if nextPage
      a(href=locals.baseUrl+nextPage.url) Next page »



